# Java
target/
*.class
*.jar
*.war
*.ear
.mvn/
!.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# JS
node_modules/
dist/
build/
.next/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local
*.pem
*.key


.DS_Store
Thumbs.db
docker-compose.override.yml
*.tmp
*.bak